body{
    background-color: rgb(255, 198, 238);
    text-align: center; /* 하위 요소들 가운데 정렬 */
    display: flex; /* 하위 요소들의 배치 방법 */
    justify-content: center; /* flex 요소들을 가로 정렬 */
}

.제목{
    border: 2px solid white;
    border-radius: 20px; 
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    margin: 15px;
}

.이미지 > img{
    width: 200px; height: 200px; /* 정사각형 */
    border-radius: 200px; /* 둥근 모서리 최대 = 원형 */
    margin: 20px 0px;
}

.링크목록{
    margin: 20px 0px;
}
.링크목록 > div{
    background-color: rgb(18, 255, 255);
    padding: 20px 0px;
    margin: 15px 0px;
    border-radius: 10px;
}



/* a마크업은 기본값으로 밑줄과 파랑색 글꼴이 들어감 없애주는 건 텍스트데코레이션논 */
a{
    color: white;
    text-decoration: none;
}

