/*
*{
    border: 1px solid red;
    padding: 20px;
}
*/
.상품{ 
    border: 1px solid #eeeeee;
    width: 300px;
}

.상품이미지 > img{
    width: 295px;
    /* height(높이) 웬만하면 안 넣음.사진 꺠짐 */
    object-fit: cover; 
    /* 이미지가 부모 요소보다 커지면 자동 크기 맞춤 */
}

.제목{
    margin-top: 20px; 
    padding: 10px 0px; /* 위 아래 여백*/
    font-weight: bold; /* 폰트 진하기 */
    font-size: 18px;
}

.가격{
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0px;        
/* 여백 넣을 때 마진도 패딩도 됨. 패딩은 테두리까지 되고 마진은 테두리 이후부터 적용됨 */
}

.설명{
    font-size: 13px;
    padding: 10px 0px;
}

.오렌지색상{
    color: orange;
}

.기타{
    padding: 10px 0px;
    font-size: 13px;
}

.상품정보{
    padding: 5px 10px;
    border-top: 1px solid #eeeeee;
}