body{
    background-color: #f2f4f7;     /* 바디앞에점쓰지마!!!!!!!!!! */
}

.all{ padding: 100px 0px;
    display: flex;
    justify-content: center;
}
.title{ padding-right: 32px;

}
.text{
    padding: 0px 0px 20px;
}

.logo > img{
    width: 295px;
    padding: 112px 0px 16px;
    margin: -28px;
}
    

.login{ border: 1px solid #eeeeee;
    border-radius: 5px;
    width: 396px;
    text-align: center;
    padding: 10px 0px 24px;
    margin-bottom: 20ps;
    margin: 40px 0px 0px;
    box-shadow: 2px 2px 5px gray;
    background-color: white;
    
}

.login1{
    text-decoration: none;
    color: white;
}

.id{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 14px 16px;
    width: 330px;
    margin: 7px;
}

.password{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 14px 16px;
    width: 330px;
    margin: 7px;
}

.loginbutton{
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    width: 365px;
    margin: 10px;

}

.login{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.text2{
    font-size: 14px;
    font-weight: 500;
    color: #0866ff;
    font-family: bold;
    margin-top: 0px;
}

.joinbutton{
    border: 1px solid #42b72a;
    background-color: #42b72a;
    border-radius: 3px;
    color: white;
    padding: 0px 16px;
    width: 120px;
    height: 48px;
}

.join{
    color: white;
    text-decoration: none;
}

.rightall{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
        align-items: center;
    border-bottom: 1px solid #DADDE1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.text3{
    font-size: x-small;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
   
}

.textbold{
    font-weight: bold;
    font-size: x-small;
}