/*************************** 1.공통 CSS ***************************/
/* 1.기본 여백 제거 */
* {
    padding: 0px;
    margin: 0px;
}

/* 2.테두리까지 사이즈 계산 */
* {
    box-sizing: border-box;
}

/* 3.a마크업 기본값 제거 */
a {
    text-decoration: none;
    color: black;
}

/* 4.글머리 제거 */
li {
    list-style-type: none;
}





/*************************** 2.헤더 ***************************/
#header {
    width: 1280px;
    ;
    /* 가로사이즈 */
    margin: 0 auto;
    /* 구역만 가로 가운데 정렬 */
    display: flex;
    /* 하위 요소 배치 방법 */
    justify-content: space-between;
    /* 양끝 여백 없이 균등 정렬 */
    align-items: center;
    /* 세로 정렬 */
}

#header .menu>ul {
    /* # : id . : class (아무것도없으면) : 마크업 */
    display: flex;
    justify-content: flex-end;
    /* 오른쪽에 붙게 */
}

.top-menu>li {
    font-size: 12px;
    margin: 10px;

}

.main-menu>li {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 30px 80px;
    /* 바깥 여백 : 위 오른쪽 아래 왼쪽 순서 시계방향! */
}


/*************************** 3.메인이미지 ***************************/

#main-img > img{
    width: 100%; /* 디바이스(화면) 전체 크기 */
}


/*************************** 4. 본문 CSS ***************************/

#main {
    width: 1280px; margin: 20px auto; /* 가운데로 */
    display: flex; justify-content: space-between;
    }

#main > .sidebar { width: 250px; /* 본문의 왼쪽 */ }
#main > .content { width: 1000px; 
    display: flex; justify-content: space-between;} /* 본문의 오른쪽 */

    

    /* 쉼표 넣으면 다중 선택자 가능.*/
#main > .content > .leftbox , .rightbox{ width: 495px;}

/*************************** 5. 본문-사이드바 CSS ***************************/
.sidebar > .title{
    background-color: #0ca9a2; color: white;
    font-size: 20px; padding: 10px;
}

.sidebar > .content { padding: 5px 0px; 
    line-height: 150%;
    } /* 줄 간격 */

.sidebar > .searchbox > input{
    border-radius: 10px; /* 둥근 모서리 */
    padding: 5px;
    width: 180px;
}

.sidebar > .searchbox > button{ padding: 4px; }

.sidebar > .sub-title{
    border-top: 1px solid black; border-bottom: 1px solid #eeeeee;
    margin-top: 30px; padding: 10px 0px;
    font-size: 18px;
}

.sidebar > .sub-menu > li{ padding: 5px;}

/*************************** 6.본문-게시판 CSS  ***************************/
.content .sub-title{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.content .board > li{
    display: flex;    /* 내가 몰랐던 거다!!! 쿠키클래스연기랑 날짜 눕히는 거!!*/
    justify-content: space-between; /* 양끝에두는거 이것도 몰랐지 */
    padding: 7px 0px;
}

.content .board{ margin-bottom: 50px;}





/*************************** 7. 본문-제빵 이미지 CSS  ***************************/
.rightbox > .product-list{
    display: flex; /* 하위 요소들의 배치방법 */
    /* 만일 하위 요소들이 부모 요소 크기보다 커지면 줄바꿈 */
    flex-wrap: wrap;
}

.rightbox > .product-list > .product{
    margin: 0px 50px 50px 0px;
}


/*************************** 8. 푸터 CSS  ***************************/
#footer{
    background-color: #05344e;
    color: white;
    padding: 20px 0px;
}

#footer > .footer-inner{
    width: 1280px; margin: 0 auto; /* 가운데로 오는 거 이거 자주 쓰는데 자꾸 까먹어ㅠ */
}

#footer > .footer-inner > .ftop-menu {
    display: flex; /* 가로배치 */ margin-bottom: 30px;
}

.ftop-menu > li{
    margin-right: 20px; /* 글자 사이 오른쪽에 여백 넣기 */
}

#footer > .footer-inner > .fbottom-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fbottom-menu h3{
    margin-bottom: 5px;
}

.fbottom-menu > ul > li{
    margin: 5px 0px;
}
