#wrap{
    width: 960px; /* 가로사이즈 */
    margin: 0 auto; /* 구역 가로 가운데 */
    border-radius: 20px;
    box-shadow: 0 10px 10px #eeeeee; 
    padding: 50px; /* 안쪽 여백 */
}

#top{
    display: flex;
    justify-content: space-around; /* 하위 요소들 가로 배차 */
    align-items: center; /* 하위 요소들 세로 배치 */
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px; padding: 20px 0px;
}

#top > input , #top > select { /* 선택자A , 선택자B 중복 선택 쉼표 */
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #eeeeee;
}

#top > button{
    background-color: blue;
    color: white;
    border: none; border-radius: 5px;
    padding: 10px 20px;


}
/*=========메인/테이블 영역===========*/

#main{
    border: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px; padding: 30px 0px;

}


/*----------------------------*/
#main > table { width: 100%;
    border-collapse: collapse; /* 이중테두리 하나의 테두리 병합 */}


    #main > table th{
    background-color: #eeeeee;
    padding: 15px;
    border-bottom: 1px solid gray;
}


#main > table td{
    padding: 10px;
    text-align: center; /* tbody 안의 모든 글자와 이미지를 가운데로 하는 것 ... 몰랐음메 */
     border-bottom: 1px solid gray;

}




#main > table button{
    padding: 10px 15px; border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}
#main > table .deleteBtn{
    background-color: pink; color: red;
}

#main > table .updateBtn{
    background-color: skyblue; color: blue;
}



#main table img{ /* #main > table img 했을 때 안 먹힌 이유 : table 바로 아래에 img가 있는 게 아니라 tbody, tr, td 등 여러겹의 상자가 있어서..
    >를 지우고 한 칸 띄어쓰기(자손 선택자)로 바꿈 */
    width: 100px; height: 100px; object-fit: cover; /* object-fit: cover; 비율 유지 , 잘림 발생 */
}