*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

li{list-style-type: none;}

a{
    text-decoration: none; color: black;
}


#menu1 .menu1list{
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

#menu1 > .menu1list > li{
    padding: 10px;
}

#menu2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#menu2 > .menu2list{ display: flex; width: 80%; }

#menu2 > .menu2list > li{
    height: 80px; width: 80px;
    display: flex; align-items: center; justify-content: center;
}

#search{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

#search > .searchimg > img{width: 15px;}

#search > input{
    border: none;
    padding: 5px;
    width: 130px;
    background-color: rgba(255, 255, 255, 0);
}


:focus{ outline: none;} /* 커서(포커스) 활성화 됐을 때 테두리 제거 */

#menu2 .new{color: red;}
#menu2 .logo{width: 155px;}


/*==========================*/

#menu2 > ul > li{position: relative;}
#menu2 .sub-menu{
    position: absolute; top: 80px;
    background-color: white;
    width: 130%; /* 부모(본메뉴li)의 사이즈보다 1.3배 */
    text-align: center;
    display: none; /* 서브메뉴 숨기기 */
}

#menu2 .sub-menu> li{ margin: 10px;} /* li에 호버했을 때 서브메뉴 보이게*/

#menu2 > ul > li:hover .sub-menu{ display: block;}
#menu2 > .menu2list{
    padding: 0 40px; /* 나 이거 헷갈려했네 패딩 0 40 이라 넣어야 로고사진이랑 안 겹쳐짐 */
}

/*===================================================================*/

#menu2{
    background-color: rgba(255, 255, 255, 0.8); /* 투명도 : 80% */
    position: sticky; /* 스크롤 내릴 때 위치 고정하기 */
    top: 0px; /* 최상단 */

    /* sticky 사용 조건
    1. sticky : 상위 부모의 높이 사이즈 안에서 고정
    vs fixed : 특정 요소와 상관없이 디바이스 고정
    2. top,right,left.bottom 위치 속성 1개 이상 필수 
    3. 부모 요소가 overflow 속성 사용 금지 */
}

.toggle{
    position: fixed; /* 디바이스 고정위치 */
    right: 0px; top: 30%; /* px가 아니라 %야 님아 */
    background-color: #f7f7f7;
}

.toggle img{
    width: 20px;
}
.toggle ul > li{
    position: relative; /* 내가 기준이 되겠다. 기준점이 나다. */
    padding: 14px;
    border: 1px solid #dbdbdb;
    
}

.toggle > ul > li > span{
    position: absolute; /* li의 자식이 되겠다고  부모를 기준으로 움직인다. */
    display: none; border-radius: 5px;
    text-align: center;
     border: 1px solid black; background-color: black; color: white;
     width: 80px; height: 20px;
     right: 40px;
}

.toggle ul > li:hover .popupsub{display: inline;}


/***************************************************************/

#main > .maincontent > img{
    width: 100%;}        /*********** 제발 이미지 그 자체에 넣기. */

#main2-header > .hotitem{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-top: 40px;
}

#main2-header > .text{
    text-align: center;
    color: gray;
    font-size: 8px;
    margin-bottom: 45px;
}

/*******************************/


#main2-content > .product-list > .product{
    width: 350px; 
    margin: 30px 10px;
    
}     /* 한 줄에 상품 4개씩만 들어가게 하는 거... 이걸 못 했다.*/


#main2 > #main2-content > .product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 4개가 넘어가면 다음 줄로 */
    width: 1520px;}




#main2-content > .product-list > .product > li > img{
    width: 100%;
    display: block; /* 이미지 아래 미세한 여백 제거해서 이미지가 박스에 꽉 차게 함.. */
} 

#main2-content > .product-list > .product > li > .img2{
    width: 100%;
} 



==================================================================
