*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

li{list-style-type: none;}

a{
    text-decoration: none; color: black;
}


#menu1 .menu1list{
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

#menu1 > .menu1list > li{
    padding: 10px;
}

#menu2{
    display: flex;
    flex-direction: row;
}

#menu2 {}