
.box{
    border: 2px solid red;
    padding: 30px;
}

.back1{
    background-color: aquamarine;
    background-color: #00ffff;
    background-color: rgb( 220 , 0, 220 );
    background-color: rgba(200, 0, 110, 0.1); /* rgba( 0~255 , 0~255, 0~255, 0~1 ) */
}

/* [1] 이미지 삽입할 때 img 대신에 배경을 ㅗ가능 , 이미지 위에 텍스ㅡㅌ 표혈할 때*/
.back2{
    /*  background-image: url(파일경로); */
        background-image: url(케이온.jpg);
    /* background-repeat: no-repeat , 채우기 없음 */
        background-repeat: no-repeat;
    /* background-position: center , 배경 이미지 위치 설정 */
        background-position: center;
}

.back3{
    background-image: url(도트.jpg);
    /* background-repeat: repeat; : 기본값 : 만일 비어있는 공간을 반복 채움 (블로그 패턴 같은 거 만들 때) */
    background-repeat: repeat;
    background-position: bottom;

    
}

.back4{
    background-image: url(케이온.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* 비율 유지 , 잘림 생길 수 있음 */
    background-position: center;
    background-attachment: fixed; /* 패럴랙스 : 스크롤 이동해도 배경이미지는 고정된다.*/
}

.box2{
    width: 100px; height: 100px;
    background-image: url(아이콘들.png);
    background-repeat: no-repeat;
    background-position: 3px 3px; /* 위치 : left, top */
}