/* 주석처리 팁 : 마우스로 범위지정 후 ctrl + / */

h5{ color: #00BCD4; }

/* 1. 전체선택자 */
*{ font-size: 20px ; } /* 글꼴크기 px(단위) , 한꺼번에 20픽셀 됨

/* 2. 마크업 선택자 */
h6{ font-size: 15px ; }

/* 3. 클래스 선택자 : 동일한 마크업들 간의 식별자 */
.뉴진스{ font-size: 10px ; }    /* 앞에 .(점) 찍는 거 까먹지 마

/* 4. 아이디 선택자 : 동일한 마크업들 간의 유일 식별자 */
#주민등록번호{ font-size: 5px ; }

/* 5. 다중 선택자 : ,(쉼표)구분자 */
h4 , h5{ font-family:궁서 ; }  /* font-family : 글씨체

/* 6. 자식 선택자 : 상위선택자 > 하위선택자 */

/* 6. 자식 선택자 */
div > h3{ font-family: 맑은고딕 ;}   /* div 의 자식인 h3 고객명단.만임. h3 CSS 적용 방법1은 body의 자식이라 아님. */

/* 7. 자손 선택자 : 상위선택자 하위모든선택자 */
div h4{ font-family: 굴림 ; } /*div 안에 있는 모든 h4를 굴림으로 하겠다.
css 적용 방법2는 궁서체가 맞음. 똑같은 h4이지만 코드가 아래에 있는 게 우선임. 아래에 있는 팜하니가 적용된 이유. */
