.title{
font-family: '궁서';
color:black;
font-size: 40px;
font-weight: bold;
font-style: italic;
}
@font-face {
    font-family: 'ThinRounded';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ThinDungGeunMo.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.content {
    font-family: 'ThinRounded';
    color:blue;
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 3px;
    line-height: 150%;
}


.writer{
    text-align: center;
    text-decoration: underline overline line-through;
    text-shadow: 2px 2px 2px gray; 
    color: red;
    font-weight: bold;
    font-size: 12px;

}

.writer2{
    text-align: center;
    text-decoration: underline overline line-through;
    text-shadow: 2px 2px 2px gray; 
    color: red;
    font-weight: bold;
    font-size: 20px;

}

.content2 {
    font-family: 'ThinRounded';
    color:blue;
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 3px;
    line-height: 150%;
}

.writer3{
    text-align: center;
    text-decoration: underline overline line-through;
    text-shadow: 2px 2px 2px gray; 
    color: red;
    font-weight: bold;
    font-size: 15px;

}