.title{
    font-family: '맑은고딕';
    color: black;
    font-size: 30px;
    font-weight: bold;
}


.content {
    font-family: '맑은고딕';
    color:black;
    font-weight: normal;
    word-spacing: 1px;
    letter-spacing: 3px;
    line-height: 150%;

}

.title2{
    font-family: '맑은고딕';
    color:black;
    font-size: 27px;
    font-weight: bold;
}

.writer{
    font-family: '맑은고딕';
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.writer2{
    font-family: '맑은고딕';
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.writer3{
    font-family: '맑은고딕';
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.writer4{
    font-family: '맑은고딕';
    color:black;
    font-size: 20px;
    font-weight: bold;
}

    
