/* 모든 여백 초기화! 이거 진짜 중요한데 영원히 까먹음 */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ /* 바디 앞에 뭐 쓰지마라!!! */
    background-color: #eeeeee;
}
li{
    list-style-type: none;
}

#all{
    position: fixed;
    right: 30px; bottom: 30px; z-index: 999;
}

.menu > a{
display: flex;
justify-content: center;
align-items: center;

text-decoration: none;
background-color: black; color: white;
width: 120px; height: 120px;
    border-radius: 50%;
    font-size: 70px;
    font-weight: bold;
    box-shadow: 1px 5px 20px gray;
    position: relative;  /* 하위 요소의 위치 기준점 */
}

.submenu{
    position: absolute; /* 상위 요소 기준으로 위치 */
    bottom: 120px;
    display: none;
}

#all > ul > .menu:hover .submenu{display: block;}


li{
    border-radius: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top{
    width: 100px; height: 100px;
    border-radius: 50%;
    background-color: #e7f0ff; color: blue;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 1px 5px 20px gray; /* 가로 세로 퍼짐정도 색상 */
    
}

.naver{
    width: 100px; height: 100px;
    border-radius: 50%;
    background-color: #e9fff0; color: blue;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 1px 5px 20px gray;
}

.help{
    width: 100px; height: 100px;
    border-radius: 50%;
     background-color: #fff2e9; color: blue;
     margin-bottom: 15px;
     font-weight: bold;
     font-size: 20px;
     box-shadow: 1px 5px 20px gray;
}

.chat{
    width: 100px; height: 100px;
    border-radius: 50%;
     background-color: #f3e9ff; color: blue;
     margin-bottom: 15px;
     font-weight: bold;
     font-size: 20px;
     box-shadow: 1px 5px 20px gray;
}