body{ /* 바디 앞에 뭐 쓰지마라!!! */
    background-color: #eeeeee;
}
li{
    list-style: none;
    
}

#all{
    position: fixed;
    right: 50px; bottom: -230px;
    
}

#all > ul{
    display: flex;
}

#all > ul > .plus > a{
    background-color: black; color: white;
    text-decoration: none;
    border: 1px solid black;
     border-radius: 100px; padding: 40px 50px;
     
}


.menu > li{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 100px; padding: 25px 10px;


}
.top{
    background-color:#e7f0ff;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 100px; padding: 25px 10px;

}

.naver{
    background-color: #e9fff0;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 100px; padding: 25px 10px;
}

.help{
    background-color: #fff2e9;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 100px; padding: 25px 10px;
}

.chat{
    background-color: #f3e9ff;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 100px; padding: 25px 10px;
}
.plus:hover{ ;
    
}

.menu{
    position: relative;
    top: -400px;
}