body{ /* 바디 앞에 뭐 쓰지마라!!! */
    background-color: #eeeeee;
}
li{
    list-style: none;
    
}

#all{
    display: flex;
     justify-content: end;
    
}

#all > ul{
    display: flex;
    margin-top: 1000px;
}

#all > ul > .plus > a{
    background-color: black; color: white;
    text-decoration: none;
    border: 1px solid black;
     border-radius: 100px; padding: 40px 50px;
     
}


#all > ul > .plus{
    position: absolute;
    bottom: 10px; right: 1px;
}

.menu > li{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 100px; padding: 25px 10px;


}

.plus:hover{ ;
    
}