
/* 전체 선택자 */
*{
    /* 테두리 : 선 종류 , 선 굵기 , 선 색상 */
    border : solid 3px aquamarine ;
    /* 안쪽 여백 */
    padding: 10px;
}

/* 클래스 선택자는 앞에 .을 찍어야 함. 주의 ~.~ */
.경기도{
    border-top : solid 1px orange ; /* 윗쪽 테두리 , 실선 */ 
    border-right : dotted 2px blue ; /* 오른쪽 테두리 , 점선 */
    border-bottom : dashed 3px black ; /* 아래쪽 테두리 , 파선 */
    border-left : double 4px greenyellow ; /* 왼쪽 테두리 , 이중선 */
    border-radius : 10px 15px 20px 25px ; /* 둥근 모서리 (시계방향으로 왼쪽 상단부터 10, 오른쪽 상단 15...  */
    box-shadow : 3px 3px 2px darkcyan ; /* 박스 그림자 , x축 y축 흐림정도 색상 (내 코드 헤석 : 중심(0,0)에 이정도흐림정도로 이색상을 넣겠다) */
    width : 500px; /* 가로 사이즈 */
    height: 500px; /* 세로 사이즈 */
    text-align: center; /* 구역을 정렬하는 게 아니라 구역 내 content(내용물)을 가로정렬하는 것 */
}

.안양시{
    padding-top: 20px; /* (테두리) 안쪽 여백 */
    padding-right: 30px; 
    padding-bottom: 40px;
    padding-left: 50px;
    margin-top: 50px; /* (테두리) 바깥 여백 */
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.만안구{
    width: 200px; /* 가로 사이즈 고정 , 만일 생략시 100% ( 부모의 크기를 따라감 )*/
    padding: 10px;
    margin: 10px;
    
    box-sizing: content-box; 
    /* 여백을 빼고 사이즈를 잡아줌 , 구역 크기 : content */
    box-sizing: border-box; 
    /* 구역 크기 : content+border+padding */
    /* border-box 를 자주 쓴다. */
    margin: 0 auto ; /* 바깥 여백을 이용한 구역 가로 가운데 정렬 */
    /* 해석! 0 : 위아래 여백 없음 , auto : 왼쪽오른쪽 자동 */
    /* 주의할 점 : width가 100% 이거나 생략 시, 사용 불가능 */
    background-color: pink; /* 배경색 */
}

.사진{
    width: 50px;
    /* img 선택자로 직접 text-align 적용 안 됨 */
    /* 사진을 갖고 있는 부모를 정렬해야 사진도 정렬됨 */
    text-align: center; /*불가능*/

}

/* input , img 등 정렬 주의 */
.input{
    width: 100;
    margin: 0 auto; /*불가능*/
}

.사진구역{
        text-align: center;
}
 /* 사진구역을 정렬하면 사진이 센터로 됨 */

