/* 1. 작업용 (완성 후 제거 예정) box 모델 시각용 */

/*
*{
    border: 1px solid red;
    padding: 20px;
}
*/
/* 2. 로그인 구역 */

.로그인구역{

    width: 350px; /* 구역 가로사이즈 */
    /* 일반적으로 높이는 내용물 만큼 자동으로 사용한다. */
    text-align: center; /* 하위 요소들의 내용물들을 가로 가운데에 배치한다. */
    margin: 0 auto; /* 자기 자신, 로그인 구역 자체를 가운데 배치 */
    box-shadow: 1px 2px 10px rgb(255, 185, 185);
    padding: 20px; /* 픽셀은 10에서 20 임의값 일단 넣어보고 수정하면서 해가는 게 포인트 */
}

/* 3. 입력 상자들 */
.입력구역 > input{ /* 상위선택자 > 하위선택자 */
    padding: 10px; /* 안쪽 여백 */
    border: solid 1px #eeeeee; /* 테두리 : 밝은 회색 */ 
    border-radius: 10px; /* 둥근모서리 */
    margin-bottom: 20px; /* 바깥 여백 */
}


/* 4. 로그인 버튼 */

.입력구역 > button{
    padding: 8px 20px;
    background-color: blue;
    color: white; /* 글꼴 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 10px;
}


/* 5. 링크 마크업 */
.서브제목 > a{
    text-decoration: none; /* 밑줄 윗줄 취소선 */
}