* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}



body{
    font-size: 16px;
    background-color: #fff; color: #232323;
    margin: 0; font-weight: 400; line-height: 1.5;
    text-align: left;
}

/* header ============================================*/

#header{
    height: 76px;
    margin-top: 20px;
    display: flex;
}
.header_left{
    width: 20%;
    font-size: 32px;
    text-align: left;
}

.header_right{

}
.header_right > .header_top > a{
    margin-right: 5px;
}

.header_right > .header_top > a > .login{
    padding-left: 20px;
}

.header_bottom{
     margin: 0; padding: 0;
     display: flex;
     justify-content: space-between;
}
