* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}



body {
    font-size: 16px;
    background-color: #fff;
    color: #232323;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

#topline {
    border-top: 3px solid #de1d24;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 120px;
    width: 100%;
    position: fixed;
    margin: 0 0px;
}

/* header ============================================*/
#headerzone {
    max-width: 100%;
    margin: 0 auto;
    height: 120px;
    background-color: white;
    position: relative;

}

#header {
    max-width: 1280px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
}

.header_left {
    width: auto; height: 76px;
    text-align: left;


}

.header_left>a>img {
    width: 20%;
    margin-top: 20px;
}

.header_right>.header_top {
    display: flex;
    align-items: center;
    right: 0;
    top: 17px;

}

.header_top {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
}

.header_top>a>img {
    height: 24px;
    width: 24px;
}

.header_right>.header_top>a {
    margin-right: 5px;
    height: 24px;
    width: 24px;
}

.header_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

}
.header_right>.header_top>.login_join {
    padding: 0 10px;
    margin: 0 5px;
    font-size: 15px;

}





.header_right>.header_top>a {
    margin-right: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}


.header_right>.header_top> .login_join {
    padding: 0 10px;
    margin: 0 5px;
    padding-left: 60px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
    width: auto;



}

.header_bottom {
    display: flex;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    justify-content: center;
    
}

.header_right > .header_bottom > li{
    margin-right: 60px;
    font-weight: bold;
}


/***********************************************/

.bannerimg{ width: 100%;
align-items: center;}

#mainmenuzone{
    max-width: 1920px;
    margin: 0 auto;
}
#mainmenu{
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0px 66px 0px;
}

.mainmenu_header > .mainmenu_title{
    font-size: 38px;
    font-weight: 700;
    margin-top: 70px;
}

.mainmenu_menu{
    display: flex;
    justify-content: flex-end;
}

.mainmenu_menu > li{
    display: flex;
    flex-direction: row;
    margin-right: 12px;
}

.menulist{
    display: flex;
    justify-content: space-between;
}

.menulist > .menubox { padding: 30px;
}

.menulist > .menubox > .menu_name{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    position: relative;
}

.menulist > .menubox > .menu_img{
    width: 245px; height: 250px;
    position: relative;
}

#boxback{
    background-image: url(/day12/엽떡img/백그라운드.png);
    background-size: 1650px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: #eeeeee;
}

#boxzone > .box1{
    display: flex;
    
    
}

#boxzone{
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0px;
}
#boxzone > .box1 > .box1_right > img{
    width: 100%;
    height: 330px;
    border-radius: 30px;
}


.box1_left{
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 30px;
    height: 330px;
    width: 45%;
}

.box1_left > .notice_header > .noticetitle{
    font-size: 38px;
    font-weight: 700;
}

.box1_left > .img{
    width: 28px;
    position: absolute;
    right: 70px;
    top: 54px;
}
.notice_header{
    display: flex;
    justify-content: space-between;
}

.boxleft > .noticeli{
    font-size: 16px;
}

.box1_left ul li{
    position: relative;
}
.box1_left ul li span{
    font-size: 13px;
    right: 50px;
    position: absolute;
}

.box1 > .box1_right{
    padding-left: 20px;
}



.box2title{
    font-size: 38px;
    font-weight: 700;
}
#boxzone > .box2 > .viewmore{ color: gray;
}

.box2{display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 60px;
padding-bottom: 60px;
}

.box3{
    width: 100%;
    padding: 15px 15px 0px 15px;
    display: flex;
    
}

.box3 > .box3_event{
background-color: #ffffff;
border-radius: 20px;
box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.07);
position: relative;
flex: 1;
margin-right: 30px;


}

.box3 > .box3_event > img{
    width: 100%;
    border-radius: 20px;
}

.box3_event > .ing{font-size: 12px; color: #de1d24; padding: 15px 20px 10px 20px;}
.box3_event > .event_title{
    font-size: 18px; font-weight: 600;
    padding: 0 20px;
    height: 43px;
}

.box3_event > .event_time{
    font-size: 13px;
    padding: 10px 20px 30px 20px;
}


/**************************************/
#bottomzone{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
}

#bottom_content{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content : center;
}

.content_center{
    width: 100%;
}
.content_center > img{width: 100%; height: 460px;  border-radius: 30px;}


.content_right{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 30px;
}
.content_right > img{
    width: 100%;
    border-radius: 30px;
    padding: 15px;
}



.content_left > .content_title{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}



.content_left{
    border: 1px solid white;
    background-color: #ffffff;
    border-radius: 30px;
    margin-right: 30px;
    width: 30%;
    padding: 15px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    
}



/*******************/

.floating_menu{
    max-width: 170px;
    max-height: 150px;
    border-radius: 14px;
    box-shadow: 5px 5px 10px rgba(109,61,24,0.2);
    border: 2px solid #9D693C;
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 1000;
    text-align: center;
    background-color: #fff;
}

.floating_menu > a img{
    width: 100%
}

