/* * Project: Yupdduck Menu Page
 * Primary Color: #de1d24 (Red)
 * Background Color: #f6f6f6 (Gray)
 */

/* ============================================================
   1. Common Styles (공통 스타일)
   ============================================================ */
* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

li { list-style-type: none; }
a { text-decoration: none; color: black; }

.text_red { color: #de1d24; }
.text_black { color: #232323; }

/*헤더 추가*/
/* 헤더 */
#search_header{ /* 헤더 전체 */
    width: 100%; background-color: white;
    min-width: 1280px;
    border-top: solid 2px #de1d24; border-bottom: solid 2px #dddddd;
    display: flex; position: sticky; top: 0px;
    z-index: 9999;
}
#search_header_inner{ /* 헤더 안쪽 */
    width: 1280px; margin: 0 auto; position: relative;
    display: flex; justify-content: space-between;
}
#search_header_inner > a > img{ /* 로고 */
    width: 150px; margin: 20px;
}
#search_header_inner > .h_right{ /* 헤더 오른쪽 부분 */
    display: block;
}
#search_header_inner > .h_right > .h_right_top{ /* 헤더 top */
    display: flex; justify-content: right;
    margin: 15px 0; align-items: center;
}
#search_header_inner > .h_right > .h_right_top >.h_sns{ /* sns 묶음 */
    display: flex; margin-top: 5px; margin-right: 20px;
}
.h_sns > li > a > img{ /* sns 사진 */
    width: 25px; margin-left: 10px;
}
#search_header_inner > .h_right > .h_right_top > span{ /* 중간 선 */
    background-color: #c9c9c9;
    width: 1px; height: 10px; margin-left: 20px;
}
#search_header_inner > .h_right > .h_right_top > .h_top_text{ /* login signup */
    padding: 2px; margin-left: 20px;
}

#search_header_inner > .h_right > .h_bottom{ /* 메뉴 창 */
    display: block; align-items: end; z-index: 999;
}
#search_header_inner > .h_right > .h_bottom > .h_bottom_main{ /* 메뉴 창 본문 */
    position: relative; margin-top: 30px; font-size: 15px; font-weight: bold;
    display: flex; justify-content: space-around;
    width: 1000px;
    
}
#search_header_inner > .h_right > .h_bottom > .h_bottom_sub{ /* 메뉴 창 서브 */
    position: absolute; left: -1px; padding: 10px; 
    display: none; justify-content: right; text-align: center; line-height: 220%;
    width: 100%;
    background-color: white;
    z-index: 99;
}
#search_header_inner > .h_right > .h_bottom > table{ justify-content: right;}
.h_bottom_subli{ display:  block; padding-left: 53px; padding-right: 10px;}
#search_header_inner > .h_right > .h_bottom:hover .h_bottom_sub{ display: flex;}

/* ============================================================
   2. Layout & Containers (레이아웃)
   ============================================================ */
#pagebox {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 100px;
}

.container {
    width: 100%;
    position: relative;
    margin: 0 80px;
}

/* ============================================================
   3. Header Section (상단 구역)
   ============================================================ */
#header {
    width: 100%;
    display: contents;
}

/* 3-1. SNS & Login Menu */
#topMenu {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: white;
}

/* 3-2. Main Navigation */
#mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid gray;
}

#mainMenu > ul { 
    display: flex; 
    width: 80%;
}

#mainMenu > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 60px;
}

/* Logo in MainMenu */
.logobox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
}

.logobox > a { display: block; width: 100%; height: 100%; }
.logobox a img { width: 100%; height: 100%; object-fit: contain; }

/* ============================================================
   4. Content Section (페이지 본문)
   ============================================================ */

/* 4-1. Title Area */
.titlesection {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid gray;
}

.pagetitle {
    padding-top: 80px;
    padding-bottom: 40px;
    color: #232323;
    font-size: 45px;
    font-weight: bold;
}

.pageroute {
    padding-top: 100px;
    color: #919191;
    font-size: 16px;
}

.grpname { color: black; font-weight: bold; }

/* 4-2. Tab Navigation */
.Functionlist { padding-bottom: 50px; }

#tablist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px
}

#tablist li { padding: 15px 25px; }
#tablist li a {
    padding: 10px 0;
    color: #919191;
    font-size: 24px;
}

#tablist li:hover a {
    color: black;
    font-weight: bold;
}

/* 4-3. Menu List Grid */
#menutabtitle { font-size: 26px; font-weight: bold; }

#menulist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}

.menubox {
    position: relative;
    width: 250px; /* 기존 중복 코드 정리 */
    height: 380px;
    text-align: left;
    padding: 15px;

    /*호버 시 둥근 모서리*/
    border-radius: 15px;
}

.menubox:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Menu Items Styles */
.menuImg { width: 100%; height: 100%; object-fit: contain; }
.menutitle { padding: 20px; font-size: 22px; font-weight: 500; }
.menuprice { padding: 20px; color: #DE1D24; font-size: 16px; }

/* Hot Stickers */
.stickerbox {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    width: 54px;
}

.stickerbox img { width: 100%; }

/* ============================================================
   5. Footer Section (하단 구역) - 공통 구역
   ============================================================ */
#footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 40px 0px 60px;
    background-color: white;
    border-top: 1px solid black;
    color: #878787;
}

/* 5-1. Footer Logo */
.footlogo {
    padding-top: 20px;
    width: 200px;
}

.footlogo > img { width: 100%; height: auto; object-fit: contain; }

/* 5-2. Footer Info & Links */
.footinfo {
    width: auto;
    font-size: 15px;
    padding-left: 15px;
}

.footlink {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
}

.footlink > a {
    margin-right: 60px;
    color: #878787;
    text-align: left;
}

.footinfo > .footlink { font-size: 17px; }
.footcontent { padding-top: 30px; }

/* 5-3. Award Emblems Area */
.emblemarea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 650px;
}

.footemblembox {
    display: flex;
    align-items: center;
    width: 230px;
    height: 40%;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
    background-color: #f6f6f6;
}

.yupemblem {
    width: 55px;
    margin-right: 10px;
}

.yupemblem > img { width: 100%; height: 100%; object-fit: contain; }

.emblemtext { display: flex; flex-direction: column; }
.emblemyear { font-size: 11px; }
.emblemtitle { font-size: 13px; }